// standard phone
.page-for-form{
    padding-bottom: 0;
    transition: 1s;
    position: relative;
    top: -80px;
    height: 100%;
    .contact-info-text{
        display: none;
    }
    .bottom-cover{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        pointer-events: visible;
        opacity: 0.8;
        z-index: 1000000000;
        .bottom-cover-text{
            margin: 0;
            transition: .2s;
            .bottom-text{
                margin: 0;
                font-size: 12px;
                span{
                    border-bottom: 1px solid #64ffdb8c;
                    padding-bottom: 5px;
                }
            }
        }
    }
    // form
    form{
        margin: 0 auto;
        text-align: left;
        width: 100%;
        box-shadow: unset;
        padding-inline: 35px;
        position: relative;
        top: 85px;
        // heading
        .heading{
            font-size: 25px;
            color: #183B56;
            font-size: 600;
        }
        // inputs and labels
        .inputs-labels{
            // label
            label{
                color: #F9F6EE;
                font-size: 15px;
                opacity: 0.9;
                margin-bottom: 15px;
                display: none;
            }
            // input & textarea
            input, textarea{
                padding: 5px;
                padding-left: 8px;
                border: none;
                outline: none;
                color: #F9F6EE;
                opacity: 1;
                font-size: 14px;
                width: 100%;
                max-width: 500px;
                height: 45px;
                cursor: pointer;
                background: transparent;
                transition: .1s;
                border-bottom: 1px solid #64ffdbb0;
                border-radius: 0;
                &::placeholder{
                    opacity: 0.3;
                    color: #F9F6EE;
                }
                &:hover{
                    background: #306b97;
                }
                &:focus{
                    background: transparent;
                    border: 2px solid #64FFDA;
                    border-radius: 4px;
                }
            }
            // textarea
            textarea{
                min-height: 100px;
                max-height: 300px;
            }
        }
        // form actions
        .form-actions{
            margin-top: 35px;
            text-align: center;
            button{
                width: 200px !important;
                height: 56px !important;
                opacity: 0.9;
            }
        }
    }
}


@media only screen and (min-device-width: 1150px) {       
    .page-for-form{
        padding-inline: 35px;
        form{
            top: 120px;
            padding-inline: 20px;
            position: relative;
            max-width: 1350px;
            .contact-info-text{
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 500px;
                height: max-content;
                border-radius: 20px;
                border-top-right-radius: 0;
                border: 2px solid #F9F6EE;
                padding: 25px 10px 100px 10px;
                text-align: center;
                h1{
                    color: #F9F6EE;
                    font-size: 30px;
                    opacity: 0.9;
                }
            }
        }
    }
}