// standard phone
.page-for-form{
    padding-bottom: 20px;
    transition: 1s;
    position: relative;
    .back-to-prev{
        cursor: pointer;
        color: #183B56;
        position: relative;
        top: 40px;
        left: 20px;
        display: flex;
        align-items: center;
        height: 100%;
        width: max-content;
        opacity: 1;
        h1{
            font-size: 16px;
            transform: translateY(3px);
        }
        span{
            margin-right: 20px;
            display: block;
            width: 60px;
            height: 2px;
            background: #183B56;
            border-radius: 8px;
        }
    }
    .contact-us-img{
        display: none;
    }
    // form
    form{
        margin: 0 auto;
        text-align: left;
        width: 100%;
        box-shadow: unset;
        padding: 20px;
        position: relative;
        top: 60px;
        // heading
        .heading{
            font-size: 25px;
            color: #183B56;
            font-size: 600;
        }
        // inputs and labels
        .inputs-labels{
            // label
            label{
                color: #183b56;
                font-size: 15px;
                opacity: 0.9;
            }
            // input & textarea
            input, textarea{
                border-radius: 4px;
                padding: 5px;
                padding-left: 8px;
                border: none;
                outline: none;
                color: #183b56;
                opacity: 0.9;
                font-size: 14px;
                width: 82%;
                max-width: 500px;
                height: 45px;
                cursor: pointer;
                background: transparent;
                transition: .1s;
                background: rgba(0,0,0,0.07);
                &::placeholder{
                    opacity: 0.4;
                }
                &:hover{
                }
                &:focus{
                }
            }
            // textarea
            textarea{
                height: 100px;
                min-height: 70px;
                max-height: 300px;
            }
        }
        // form actions
        .form-actions{
            margin-top: 25px;
            button{
                border-color: transparent !important;
                color: #183B56;
                background: #00000010;
                width: 180px !important;
                height: 56px !important;
            }
        }
    }
}


@media only screen and (min-device-width: 1150px) {       
    html, body {
        background: radial-gradient(#2e6d9e, #215074, #183B56);
        overflow-x: hidden;
        scroll-behavior: smooth;
        margin: 0 auto;
        height: 100vh;
        max-height: 100vh;
        width: 100%;
    }
    .contact-us-img{
        display: block;
        position: absolute;
        right: 0;
        top: 52%;
        transform: translateY(-50%);
        width: 490px;
        height: auto;
        box-shadow: 35px 5px 20px #a34ae277;
    }
}