{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">

<div class="page">
    <div class="content">
        <div class="back-to-prev" onclick="history.back()"><span></span><h1>Go back</h1></div>
        <div class="cover">
            <div class="text">
                <p class="headingp">project</p>
                <h1>GG Lillehammer <span>Created: 12.05.22</span></h1>
            </div>
        </div>
        <div class="project-info">
            <div class="row-one">
                <p class="small-paragraph">GG Lillehammer is a gaming local in Lillehammer, Norway. They are also one of my first clients, and they needed a quite complex website. All in all, the website had a beatifull design, and it had my account, make order, contact us and a blog page. The project came to a stop, since GG Lillehammer didn't have the finances required to run a website that big.</p>
                <img src="{% static 'images/projects/gglhmr/gglhmr1.png' %}" alt="">
            </div>
            <div class="row-two">
                <img src="{% static 'images/projects/gglhmr/gglhmr2.png' %}" alt="">
                <img src="{% static 'images/projects/gglhmr/gglhmr3.png' %}" alt="">
                <img src="{% static 'images/projects/gglhmr/gglhmr4.png' %}" alt="">
                <img src="{% static 'images/projects/gglhmr/gglhmr5.png' %}" alt="">
                <img src="{% static 'images/projects/gglhmr/gglhmr6.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}