{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">

<div class="page">
    <div class="content">
        <div class="back-to-prev" onclick="history.back()"><span></span><h1>Go back</h1></div>
        <div class="cover">
            <div class="text">
                <p class="headingp">project</p>
                <h1>StellCare <span>Created: 25.07.20</span></h1>
            </div>
        </div>
        <div class="project-info">
            <div class="row-one">
                <p class="small-paragraph">StellCare was my very first project. Started as my own eCommerce store, StellCare was made using Vue and Python, but I did watch a tutorial, even though, I learned a lot. As of now, I stopped working on StellCare, and have started on a new eCommerce store.</p>
                <img src="{% static 'images/projects/stellcare/stellcare4.png' %}" alt="">
            </div>
            <div class="row-two">
                <img src="{% static 'images/projects/stellcare/stellcare1.png' %}" alt="">
                <img src="{% static 'images/projects/stellcare/stellcare2.png' %}" alt="">
                <img src="{% static 'images/projects/stellcare/stellcare3.png' %}" alt="">
                <img src="{% static 'images/projects/stellcare/stellcare6.png' %}" alt="">
                <img src="{% static 'images/projects/stellcare/stellcare5.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}