{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">

<div class="page">
    <div class="content">
        <div class="back-to-prev" onclick="history.back()"><span></span><h1>Go back</h1></div>
        <div class="cover">
            <div class="text">
                <p class="headingp">project</p>
                <h1>Webiser <span>Created: 10.02.21</span></h1>
            </div>
        </div>
        <div class="project-info">
            <div class="row-one">
                <p class="small-paragraph">Webiser is my personal business, where I build eCommerce stores for customers. Webiser is a project I started in 10.02.21. The website includes: Log in/Log out/Sign up, Forum, Make an order, My account/My orders, Products, and it also has a admin dashboard. The design is quite simple and easy to navigate. Webiser is built in mostly Python/Django and JavaScript, and of course Html and Css/Scss</p>
                <img src="{% static 'images/projects/webiser/webiser1.png' %}" alt="">
            </div>
            <div class="row-two">
                <img src="{% static 'images/projects/webiser/webiser2.png' %}" alt="">
                <img src="{% static 'images/projects/webiser/webiser3.png' %}" alt="">
                <img src="{% static 'images/projects/webiser/webiser4.png' %}" alt="">
                <img src="{% static 'images/projects/webiser/webiser5.png' %}" alt="">
                <img src="{% static 'images/projects/webiser/webiser6.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}