@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


.about-me-des{
    display: none;
}
.about-me-mob{
    width: 100%;
    .mob-img{
        position: absolute;
        bottom: 30px;
        left: 35px;
        opacity: 0.1;
        width: 170px;
        height: auto;
    }
    .text{
        text-align: center;
        margin-top: 40px;
        .headingp{
            color: #64FFDA;
            font-size: 14px;
            letter-spacing: 1px;
            margin-top: 0;
            margin-bottom: 15px;
            opacity: 0.9;
        }
    }
    .cards{
        width: 100%;
        margin-top: 25px;
        text-align: center;
        .opener{
            font-size: 17px;
            color: #F9F6EE;
            opacity: 0.9;
            background: #2b5e85;
            padding: 10px;
            border-radius: 4px;
            margin-block: 28px;
            &:first-child{
                margin-top: 0;
            }
        }
        .card{
            background: #215074;
            border: none;
            z-index: 10000;
            transition: .9s;
            position: absolute;
            right: -100%;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            .card-heading{
                font-size: 20px;
                color: #F9F6EE;
                margin-top: 40px;
            }
            .arrow{
                position: absolute;
                right: 5px;
                top: 43px;
                color: #F9F6EE;
                opacity: 0.9;
                font-size: 22px;
                padding: 8px;
                margin: -8px;
                opacity: 0;
                transition: .5s;
                &.active{
                    right: 35px;
                    opacity: 1;
                }
            }
            .card-card{
                width: 85%;
                height: max-content;
                padding: 20px;
                background: #2b5e85;
                margin: 0 auto;
                position: relative;
                top: 40px;
                .text{
                    margin: 0;
                    text-align: center;
                    h1, p{
                        margin: 0;
                    }
                    h1{
                        font-size: 18px;
                        color: #F9F6EE;
                    }
                    p{
                        margin-top: 6px;
                        font-size: 16px !important;
                    }
                }
            }
            .y-line{
                display: block;
                position: relative;
                top: 50px;
                background: rgba(255,255,255,0.15);
                width: 2px;
                height: 40px;
                margin: 0 auto;
                border-radius: 20px;
            }
            // What I do
            .headingp{
                color: #64FFDA;
                font-size: 14px;
                letter-spacing: 1px;
                margin-top: 5px;
                margin-bottom: 0 !important;
                opacity: 0.9;
                padding-bottom: 10px;
            }
            .skills{
                height: auto;
                width: 85%;
                margin-inline: auto;
                overflow-y: scroll;
                -ms-overflow-style: none;  
                scrollbar-width: none;  
                &::-webkit-scrollbar{
                    display: none; 
                }
                .skill{
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;
                    width: 100%;
                    height: auto;
                    margin: 40px 0;
                    border-radius: 4px;
                    background: #2b5e85;
                    .icon{
                        width: max-content;
                        i{
                            color: #F9F6EE;
                            font-size: 40px;
                        }
                    }
                    .skill-text{
                        text-align: left;
                        width: 75%;
                        h1{
                            color: #F9F6EE;
                            font-size: 20px;
                        }
                    }
                    &.html{
                        margin-top: 20px;
                    }
                }
            }
            // Info about my cat
            &#infoAbtCatCard{
                img{
                    margin-inline: auto;
                    width: 100px;
                    height: auto;
                    position: relative;
                    top: 100px;
                }
            }
            &.active{
                transition: .5s;
                opacity: 1;
                right: 0;
                pointer-events: visible;
            }
        }
    }
    .bottom-cover{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        pointer-events: visible;
        opacity: 0.8;
        z-index: 1000000000;
        .bottom-cover-text{
            margin: 0;
            transition: .2s;
            .bottom-text{
                margin: 0;
                font-size: 12px;
                span{
                    border-bottom: 1px solid #64ffdb8c;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

@media only screen and (min-device-width: 1150px) {
    .about-me-mob{
        display: none;
    }
    .about-me-des{
        display: block;
        .text{
            text-align: center;
            margin-top: 40px;
            .headingp{
                color: #64FFDA;
                font-size: 14px;
                letter-spacing: 1px;
                margin-top: 0;
                margin-bottom: 15px;
                opacity: 0.9;
            }
        }
        .cards{
            width: 100%;
            max-width: 1155px;
            margin-top: 15px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
            .overlay{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1000000000000000000000;
                pointer-events: none !important;
                &.active{
                    background: rgba(0,0,0,0.38);
                }
            }
            .opener{
                font-size: 17px;
                color: #F9F6EE;
                opacity: 0.9;
                background: #2b5e85;
                padding: 10px;
                border-radius: 4px;
                margin-block: 28px;
                width: 300px;
                height: 120px;
                margin-inline: 15px;
                background: rgba(240, 240, 240, 0.09);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: .4s;
                &:hover{
                    transform: scale(1.07);
                }
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
            .card{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%) scale(0.8);
                padding: 30px 15px;
                background: #215074;
                border: none;
                z-index: 10000000000000000000000;
                transition: .9s;
                width: 80%;
                height: auto;
                opacity: 0;
                pointer-events: none;
                border-radius: 4px;
                &.active{
                    transition: .5s;
                    opacity: 1;
                    pointer-events: visible !important;
                    transform: scale(1) translateX(-50%) translateY(-50%);
                }
                .card-heading{
                    font-size: 23px;
                    color: #F9F6EE;
                    padding-bottom: 25px;
                }
                .arrow{
                    position: absolute;
                    right: 5px;
                    top: 32px;
                    color: #F9F6EE;
                    opacity: 0;
                    font-size: 26px;
                    padding: 8px;
                    margin: -8px;
                    opacity: 0;
                    transition: .5s;
                    border-radius: 12px;
                    cursor: pointer;
                    &.active{
                        right: 125px;
                        opacity: 1;
                    }
                }
                &#myGoalCardDes{
                    .y-line{
                        height: 50px;
                        width: 2px;
                        background: rgba(255,255,255,0.3);
                        margin: 15px auto;
                        border-radius: 20px;
                    }
                    .card-card{
                        border: 1px solid #64FFDA;
                        max-width: 450px;
                        position: relative;
                        margin: auto;
                        padding: 15px 25px;
                        border-radius: 12px;
                        .text{
                            text-align: center;
                            margin: auto;
                            h1{
                                color: #F9F6EE;
                                font-size: 18px;
                            }
                            .small-paragraph{
                                font-size: 15px;
                            }
                        }
                    }
                }
                &#infoAbtMeCardDes{
                    padding-block: 50px;
                    .arrow{
                        top: 52px;
                    }
                    .text{
                        margin-top: 0;
                        padding: 10px 90px;
                        .small-paragraph{
                            font-size: 16px;
                        }
                    }
                }
                &#whatIDoCardDes{
                    .arrow{
                        top: 35px;
                    }
                    .card-heading{
                        padding-bottom: 0;
                    }
                    .headingp{
                        color: #64FFDA;
                        font-size: 14px;
                        letter-spacing: 1px;
                        margin-top: 5px;
                        margin-bottom: 0 !important;
                        opacity: 0.9;
                        padding-bottom: 25px;
                    }
                    .skills{
                        margin-inline: auto;
                        display: flex;
                        overflow: scroll !important;
                        width: 100%;
                        padding-bottom: 40px;
                        .skill{
                            flex: 1;
                            display: flex;
                            justify-content: space-between;
                            padding: 15px;
                            min-width: 320px !important;
                            height: 200px;
                            margin: 0px 0;
                            border-radius: 4px;
                            background: #2b5e85;
                            margin-inline: 15px;
                            &.html{
                                margin-left: 0;
                            }
                            .icon{
                                width: max-content;
                                i{
                                    color: #F9F6EE;
                                    font-size: 40px;
                                }
                            }
                            .skill-text{
                                text-align: left;
                                width: 75%;
                                h1{
                                    color: #F9F6EE;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
    
                // Info about my cat
                &#infoAbtCatCard{
                    img{
                        margin-inline: auto;
                        width: 100px;
                        height: auto;
                        position: relative;
                        top: 100px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-device-width: 1450px) {
    .about-me{
        .des-img{
            transform: translateY(40px);
            margin-left: 115px;
        }
        .text{
            margin-right: 115px;
            .keywords{
                position: absolute;
                right: 80px;
                top: 145px;
            }
        }
    }
}

@media only screen and (min-device-width: 1590px) {
    .about-me{
        .des-img{
            margin-left: 115px;
        }
        .text{
            margin-right: 115px;
            .keywords{
                position: absolute;
                right: 170px;
                top: 185px;
            }
        }
    }
}

@media only screen and (min-device-width: 1690px) {
    .about-me{
        .des-img{
            margin-left: 145px;
        }
        .text{
            margin-right: 145px;
            .keywords{
                position: absolute;
                right: 215px;
                top: 205px;
            }
        }
    }
}
