@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
.about-me {
  width: 100%;
}
.about-me .des-img {
  display: none;
}
.about-me .mob-img {
  position: absolute;
  bottom: 30px;
  left: 35px;
  opacity: 0.15;
  width: 170px;
  height: auto;
}
.about-me .text {
  text-align: center;
  margin-top: 40px;
}
.about-me .text .small-paragraph {
  margin-top: 21px;
  padding-left: 2px;
  font-size: 16px;
}
.about-me .text .small-paragraph.des {
  display: none;
}
.about-me .text h1 {
  color: rgba(249, 246, 238, 0.8705882353);
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 9px;
}
.about-me .text .socials {
  display: none;
}
.about-me .bottom-cover {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  pointer-events: visible;
  opacity: 0.8;
  z-index: 1000000000;
}
.about-me .bottom-cover .bottom-cover-text {
  margin: 0;
  transition: 0.2s;
}
.about-me .bottom-cover .bottom-cover-text .bottom-text {
  margin: 0;
  font-size: 12px;
}
.about-me .bottom-cover .bottom-cover-text .bottom-text span {
  border-bottom: 1px solid rgba(100, 255, 219, 0.5490196078);
  padding-bottom: 5px;
}

@media only screen and (min-device-width: 1150px) {
  .about-me {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .about-me .mob-img {
    display: none;
  }
  .about-me .des-img {
    display: block;
    opacity: 0.9;
    position: relative;
    transform: translateY(35px);
    margin-left: 65px;
  }
  .about-me .text {
    text-align: left;
    margin-top: 40px;
    width: auto;
    margin-right: 65px;
  }
  .about-me .text h1 {
    color: rgba(249, 246, 238, 0.8705882353);
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .about-me .text .small-paragraph {
    margin-top: 30px !important;
    padding-left: 2px;
    font-size: 16px;
    width: 500px;
  }
  .about-me .text .small-paragraph.mob {
    display: none;
  }
  .about-me .text .small-paragraph.des {
    display: block;
  }
  .about-me .text .small-paragraph a:hover {
    font-weight: bold;
  }
  .about-me .text .socials {
    display: flex;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    left: 0;
    top: 50px;
    opacity: 0.7;
    z-index: 10000;
  }
  .about-me .text .socials span {
    background: linear-gradient(to right, transparent, #64FFDA);
    width: 300px;
    height: 2px;
    border-radius: 20px;
    margin-right: 15px;
  }
  .about-me .text .socials i {
    color: #64FFDA;
    cursor: pointer;
    font-size: 21px;
    padding: 5px;
    margin: -5px;
    margin-inline: 15px;
  }
  .about-me .text .socials i:hover {
    transform: scale(1.1);
  }
  .about-me .bottom-cover {
    display: none;
  }
}
@media only screen and (min-device-width: 1450px) {
  .about-me .des-img {
    transform: translateY(40px);
    margin-left: 115px;
  }
  .about-me .text {
    margin-right: 115px;
  }
}
@media only screen and (min-device-width: 1590px) {
  .about-me .des-img {
    margin-left: 145px;
  }
  .about-me .text {
    margin-right: 145px;
  }
}
@media only screen and (min-device-width: 1690px) {
  .about-me .des-img {
    margin-left: 175px;
  }
  .about-me .text {
    margin-right: 175px;
  }
}/*# sourceMappingURL=about.css.map */