@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
.about-me-des {
  display: none;
}

.about-me-mob {
  width: 100%;
}
.about-me-mob .mob-img {
  position: absolute;
  bottom: 30px;
  left: 35px;
  opacity: 0.1;
  width: 170px;
  height: auto;
}
.about-me-mob .text {
  text-align: center;
  margin-top: 40px;
}
.about-me-mob .text .headingp {
  color: #64FFDA;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 15px;
  opacity: 0.9;
}
.about-me-mob .cards {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
.about-me-mob .cards .opener {
  font-size: 17px;
  color: #F9F6EE;
  opacity: 0.9;
  background: #2b5e85;
  padding: 10px;
  border-radius: 4px;
  margin-block: 28px;
}
.about-me-mob .cards .opener:first-child {
  margin-top: 0;
}
.about-me-mob .cards .card {
  background: #215074;
  border: none;
  z-index: 10000;
  transition: 0.9s;
  position: absolute;
  right: -100%;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.about-me-mob .cards .card .card-heading {
  font-size: 20px;
  color: #F9F6EE;
  margin-top: 40px;
}
.about-me-mob .cards .card .arrow {
  position: absolute;
  right: 5px;
  top: 43px;
  color: #F9F6EE;
  opacity: 0.9;
  font-size: 22px;
  padding: 8px;
  margin: -8px;
  opacity: 0;
  transition: 0.5s;
}
.about-me-mob .cards .card .arrow.active {
  right: 35px;
  opacity: 1;
}
.about-me-mob .cards .card .card-card {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px;
  background: #2b5e85;
  margin: 0 auto;
  position: relative;
  top: 40px;
}
.about-me-mob .cards .card .card-card .text {
  margin: 0;
  text-align: center;
}
.about-me-mob .cards .card .card-card .text h1, .about-me-mob .cards .card .card-card .text p {
  margin: 0;
}
.about-me-mob .cards .card .card-card .text h1 {
  font-size: 18px;
  color: #F9F6EE;
}
.about-me-mob .cards .card .card-card .text p {
  margin-top: 6px;
  font-size: 16px !important;
}
.about-me-mob .cards .card .y-line {
  display: block;
  position: relative;
  top: 50px;
  background: rgba(255, 255, 255, 0.15);
  width: 2px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
}
.about-me-mob .cards .card .headingp {
  color: #64FFDA;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 0 !important;
  opacity: 0.9;
  padding-bottom: 10px;
}
.about-me-mob .cards .card .skills {
  height: auto;
  width: 85%;
  margin-inline: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.about-me-mob .cards .card .skills::-webkit-scrollbar {
  display: none;
}
.about-me-mob .cards .card .skills .skill {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  height: auto;
  margin: 40px 0;
  border-radius: 4px;
  background: #2b5e85;
}
.about-me-mob .cards .card .skills .skill .icon {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.about-me-mob .cards .card .skills .skill .icon i {
  color: #F9F6EE;
  font-size: 40px;
}
.about-me-mob .cards .card .skills .skill .skill-text {
  text-align: left;
  width: 75%;
}
.about-me-mob .cards .card .skills .skill .skill-text h1 {
  color: #F9F6EE;
  font-size: 20px;
}
.about-me-mob .cards .card .skills .skill.html {
  margin-top: 20px;
}
.about-me-mob .cards .card#infoAbtCatCard img {
  margin-inline: auto;
  width: 100px;
  height: auto;
  position: relative;
  top: 100px;
}
.about-me-mob .cards .card.active {
  transition: 0.5s;
  opacity: 1;
  right: 0;
  pointer-events: visible;
}
.about-me-mob .bottom-cover {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  pointer-events: visible;
  opacity: 0.8;
  z-index: 1000000000;
}
.about-me-mob .bottom-cover .bottom-cover-text {
  margin: 0;
  transition: 0.2s;
}
.about-me-mob .bottom-cover .bottom-cover-text .bottom-text {
  margin: 0;
  font-size: 12px;
}
.about-me-mob .bottom-cover .bottom-cover-text .bottom-text span {
  border-bottom: 1px solid rgba(100, 255, 219, 0.5490196078);
  padding-bottom: 5px;
}

@media only screen and (min-device-width: 1150px) {
  .about-me-mob {
    display: none;
  }
  .about-me-des {
    display: block;
  }
  .about-me-des .text {
    text-align: center;
    margin-top: 40px;
  }
  .about-me-des .text .headingp {
    color: #64FFDA;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 15px;
    opacity: 0.9;
  }
  .about-me-des .cards {
    width: 100%;
    max-width: 1155px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .about-me-des .cards .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000000000000000000000;
    pointer-events: none !important;
  }
  .about-me-des .cards .overlay.active {
    background: rgba(0, 0, 0, 0.35);
  }
  .about-me-des .cards .opener {
    font-size: 17px;
    color: #F9F6EE;
    opacity: 0.9;
    background: #2b5e85;
    padding: 10px;
    border-radius: 4px;
    margin-block: 28px;
    width: 300px;
    height: 150px;
    margin-inline: 15px;
    background: rgba(240, 240, 240, 0.09);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
  }
  .about-me-des .cards .opener:hover {
    transform: scale(1.07);
  }
  .about-me-des .cards .opener:first-child {
    margin-left: 0;
  }
  .about-me-des .cards .opener:last-child {
    margin-right: 0;
  }
  .about-me-des .cards .card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    padding: 40px;
    background: #215074;
    border: none;
    z-index: 10000000000000000000000;
    transition: 0.9s;
    width: 80%;
    height: auto;
    opacity: 0;
    pointer-events: none;
  }
  .about-me-des .cards .card.active {
    transition: 0.5s;
    opacity: 1;
    pointer-events: visible;
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
  .about-me-des .cards .card .card-heading {
    font-size: 22px;
    color: #F9F6EE;
    padding-bottom: 25px;
    transform: translateY(-10px);
  }
  .about-me-des .cards .card .arrow {
    position: absolute;
    right: 5px;
    top: 32px;
    color: #F9F6EE;
    opacity: 0;
    font-size: 26px;
    padding: 8px;
    margin: -8px;
    opacity: 0;
    transition: 0.5s;
    border-radius: 12px;
    cursor: pointer;
  }
  .about-me-des .cards .card .arrow.active {
    right: 105px;
    opacity: 1;
  }
  .about-me-des .cards .card#myGoalCardDes .y-line {
    height: 60px;
    width: 2px;
    background: rgba(255, 255, 255, 0.3);
    margin: 20px auto;
    border-radius: 20px;
  }
  .about-me-des .cards .card#myGoalCardDes .card-card {
    border: 1px solid #64FFDA;
    max-width: 450px;
    position: relative;
    margin: auto;
    padding: 25px 35px;
    border-radius: 12px;
  }
  .about-me-des .cards .card#myGoalCardDes .card-card .text {
    text-align: center;
    margin: auto;
  }
  .about-me-des .cards .card#myGoalCardDes .card-card .text h1 {
    color: #F9F6EE;
    font-size: 20px;
  }
  .about-me-des .cards .card#myGoalCardDes .card-card .text .small-paragraph {
    font-size: 16px;
  }
  .about-me-des .cards .card .headingp {
    color: #64FFDA;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 0 !important;
    opacity: 0.9;
    padding-bottom: 10px;
  }
  .about-me-des .cards .card .skills {
    height: auto;
    width: 85%;
    margin-inline: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .about-me-des .cards .card .skills::-webkit-scrollbar {
    display: none;
  }
  .about-me-des .cards .card .skills .skill {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    height: auto;
    margin: 40px 0;
    border-radius: 4px;
    background: #2b5e85;
  }
  .about-me-des .cards .card .skills .skill .icon {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .about-me-des .cards .card .skills .skill .icon i {
    color: #F9F6EE;
    font-size: 40px;
  }
  .about-me-des .cards .card .skills .skill .skill-text {
    text-align: left;
    width: 75%;
  }
  .about-me-des .cards .card .skills .skill .skill-text h1 {
    color: #F9F6EE;
    font-size: 20px;
  }
  .about-me-des .cards .card .skills .skill.html {
    margin-top: 20px;
  }
  .about-me-des .cards .card#infoAbtCatCard img {
    margin-inline: auto;
    width: 100px;
    height: auto;
    position: relative;
    top: 100px;
  }
}
@media only screen and (min-device-width: 1450px) {
  .about-me .des-img {
    transform: translateY(40px);
    margin-left: 115px;
  }
  .about-me .text {
    margin-right: 115px;
  }
  .about-me .text .keywords {
    position: absolute;
    right: 80px;
    top: 145px;
  }
}
@media only screen and (min-device-width: 1590px) {
  .about-me .des-img {
    margin-left: 115px;
  }
  .about-me .text {
    margin-right: 115px;
  }
  .about-me .text .keywords {
    position: absolute;
    right: 170px;
    top: 185px;
  }
}
@media only screen and (min-device-width: 1690px) {
  .about-me .des-img {
    margin-left: 145px;
  }
  .about-me .text {
    margin-right: 145px;
  }
  .about-me .text .keywords {
    position: absolute;
    right: 215px;
    top: 205px;
  }
}/*# sourceMappingURL=about.css.map */