#mobileNav {
  display: none;
}

#desNav {
  display: none;
}

#footer {
  display: none;
}

.page {
  min-height: 88vh;
  width: 100%;
}
.page .content {
  padding-inline: 20px;
  padding-top: 50px;
}
.page .content .back-to-prev {
  cursor: pointer;
  color: #F9F6EE;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.page .content .back-to-prev h1 {
  font-size: 16px;
  transform: translateY(3px);
}
.page .content .back-to-prev span {
  margin-right: 20px;
  display: block;
  width: 60px;
  height: 2px;
  background: #F9F6EE;
  border-radius: 8px;
}
.page .content .cover {
  width: 100%;
  padding-top: 60px;
}
.page .content .cover .text {
  text-align: center;
}
.page .content .cover .text .headingp {
  color: #a34ae2;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.9;
  margin-bottom: 12px;
}
.page .content .cover .text h1 {
  font-size: 40px;
  color: #F9F6EE;
  font-weight: 800;
}
.page .content .cover .text h1 span {
  font-size: 14px;
  opacity: 0.6;
  font-weight: normal;
}
.page .content .project-info {
  padding-block: 40px;
  padding-top: 10px;
  padding-bottom: 0;
  width: 100%;
  position: relative;
}
.page .content .project-info .row-one {
  display: flex;
  align-items: center;
  text-align: center;
}
.page .content .project-info .row-one img {
  display: none;
}
.page .content .project-info .row-one p {
  color: #F9F6EE;
}
.page .content .project-info .row-two {
  position: relative;
  padding-block: 50px;
}
.page .content .project-info .row-two img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-block: 20px;
  box-shadow: 1px 1px 10px #a34ae2;
}
.page .content .project-info .row-two img:first-child {
  margin-top: 0;
}

@media only screen and (min-device-width: 1150px) {
  .page {
    min-height: 88vh;
    width: 100%;
  }
  .page .content {
    padding-inline: 20px;
    padding-top: 50px;
  }
  .page .content .back-to-prev {
    cursor: pointer;
    color: #F9F6EE;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .page .content .back-to-prev h1 {
    font-size: 16px;
    transform: translateY(3px);
  }
  .page .content .back-to-prev span {
    margin-right: 20px;
    display: block;
    width: 60px;
    height: 2px;
    background: #F9F6EE;
    border-radius: 8px;
  }
  .page .content .cover {
    width: 100%;
    padding-top: 60px;
  }
  .page .content .cover .text {
    text-align: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page .content .cover .text .headingp {
    color: #a34ae2;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    opacity: 0.9;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .page .content .cover .text h1 {
    font-size: 60px;
    color: #F9F6EE;
    font-weight: 800;
  }
  .page .content .cover .text h1 span {
    font-size: 19px;
    opacity: 0.6;
    font-weight: normal;
  }
  .page .content .project-info {
    padding-block: 40px;
    padding-bottom: 0;
    width: 100%;
    position: relative;
  }
  .page .content .project-info .row-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-block: 45px;
  }
  .page .content .project-info .row-one img {
    display: block;
    width: 650px;
    height: auto;
    box-shadow: 1px 1px 10px #a34ae2;
  }
  .page .content .project-info .row-one p {
    color: #F9F6EE;
    width: 35%;
    font-size: 18px;
  }
  .page .content .project-info .row-two {
    position: relative;
    padding-block: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
  }
  .page .content .project-info .row-two img {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    position: unset;
    left: unset;
    transform: unset;
    margin-block: 30px;
    margin-inline: 0;
    box-shadow: 1px 1px 10px #a34ae2;
  }
}/*# sourceMappingURL=page.css.map */