// Mobile
.bottom-cover{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    pointer-events: visible;
    opacity: 0.8;
    z-index: 1000000000;
    .bottom-cover-text{
        margin: 0;
        transition: .2s;
        .bottom-text{
            margin: 0;
            font-size: 12px;
            span{
                border-bottom: 1px solid #64ffdb8c;
                padding-bottom: 5px;
            }
        }
    }
}
.projects{
    padding-inline: 35px;
    padding-top: 15px;
    h1{
        color: #f9f6eede;
        font-size: 28px;
        margin-bottom: 5px;
    }
    p{
        color: #d4d4d4de;
        font-size: 16px;
        border-bottom: 2px solid #64FFDA;
        padding-bottom: 15px;
    }
}