{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">
<link rel="stylesheet" href="{% static 'scss/pages/about.css' %}">
<script src="{% static 'js/page.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>

<div class="page">
    <!-- <div class="intro" id="pageIntro"></div> -->
    <div class="content">
        <div class="about-me-mob">
            <img src="{% static 'images/covers/about.png' %}" class="mob-img" alt="">
            <div class="text">
                <p class="headingp">A page only about me!</p>
                <!-- <h1>About me</h1> -->
            </div>
            <div class="cards">
                <h1 class="opener" onclick="myGoal()">My goal</h1>
                <h1 class="opener" onclick="infoAbtMe()">Some text about me</h1>
                <h1 class="opener" onclick="whatIDo()">What I do</h1>
                <h1 class="opener">Info about my cat</h1>
                <h1 class="opener">How I made this website</h1>
                <!-- My goal -->
                <div class="card" id="myGoalCard">
                    <h1 class="card-heading">My goal</h1>
                    <i class="fa-solid fa-arrow-right arrow" id="arrowBackCard1" onclick="myGoalClose()"></i>
                    <div class="card-card">
                        <div class="text">
                            <h1>By 2025</h1>
                            <p class="small-paragraph">I want to get a strong career within web development. Get more and more experience as days pass, and always find something to challange myself</p>
                        </div>
                    </div>
                    <span class="y-line"></span>
                    <div class="card-card" style="transform: translateY(17px);">
                        <div class="text" style="width: 100%; text-align: center; padding-left: 0;">
                            <h1>In the meantime</h1>
                            <p class="small-paragraph">I am looking for a place where my skills can be put to the test</p>
                        </div>
                    </div>
                </div>
                <!-- Some text about me -->
                <div class="card" id="infoAbtMeCard">
                    <h1 class="card-heading" style="margin-right: 10px;">Some text about me</h1>
                    <i class="fa-solid fa-arrow-right arrow" id="arrowBackCard2" onclick="infoAbtMeClose()"></i>
                    <div class="card-card">
                        <div class="text">
                            <p class="small-paragraph">Whenever I don't develop websites, I mostly workout and play footbal, but when I do develop websites, I tend to use <a style="color: unset; text-decoration: underline;" href="https://www.djangoproject.com/">Django</a> as my framework. My code is clean, easy to understand and nicely structured<br><br>I got around 3 years of experience as a web developer, but because of my age, I haven't had time to get a job yet, but I am in the looks for one now!<br><br>Got any questions? <a style="color: unset; text-decoration: underline;" href="/get-in-touch">Ask me anything!</a></p>
                        </div>
                    </div>
                </div>
                 <!-- What I do -->
                 <div class="card" id="whatIDoCard">
                    <h1 class="card-heading">What I do</h1>
                    <p class="headingp">Feel free to scroll here</p>
                    <i class="fa-solid fa-arrow-right arrow" id="arrowBackCard3" onclick="whatIDoClose()"></i>
                    <div class="skills">
                        <div class="skill html">
                            <div class="icon">
                                <i class="fa-brands fa-html5"></i>
                            </div>
                            <div class="skill-text">
                                <h1>Html</h1>
                                <p class="small-paragraph">The first thing you do when learing to code websites, is to learn Html. As of now, I have mastered Html</p>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="icon">
                                <i class="fa-brands fa-css3-alt"></i>
                            </div>
                            <div class="skill-text">
                                <h1>Css</h1>
                                <p class="small-paragraph">Every website must have a responsive, modern, profesionall and strucutured design. I am using Scss to achieve that</p>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="icon">
                                <i class="fa-brands fa-js"></i>
                            </div>
                            <div class="skill-text">
                                <h1>JavaScript</h1>
                                <p class="small-paragraph">Every single animation you have seen so far, I have used JavaScript to make it happen</p>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="icon">
                                <i class="fa-brands fa-git-alt"></i>
                            </div>
                            <div class="skill-text">
                                <h1>Git</h1>
                                <p class="small-paragraph">As a team, many use Git to structure and to work on projects. I have been using Git a long time now</p>
                            </div>
                        </div>
                        <div class="skill">
                            <div class="icon">
                                <i class="fa-brands fa-python"></i>
                            </div>
                            <div class="skill-text">
                                <h1>Python/Django</h1>
                                <p class="small-paragraph">Django is a framework, witch is written in Python. Django is a framework I got good at</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-cover" id="bottomCover">
                <div class="bottom-cover-text" id="bottomCoverText">
                  <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
                </div>
            </div>
        </div>
        <div class="about-me-des">
            <div class="text">
                <h1>About me</h1>
                <p class="small-paragraph mob">Whenever I don't develop websites, I mostly workout and play footbal, but when I do develop websites, I tend to use <a style="color: unset; text-decoration: underline;" href="https://www.djangoproject.com/">Django</a> as my framework. My code is clean, easy to understand and nicely structured<br><br>I got around 3 years of experience as a web developer, but because of my age, I haven't had time to get a job yet, but I am in the looks for one now! Got any questions? <a style="color: unset; text-decoration: underline;" href="/get-in-touch">Ask me anything!</a></p>
                <p class="small-paragraph des">Whenever I don't develop websites, I mostly workout and play footbal, but when I do develop websites, I tend to use <a style="color: unset; text-decoration: underline;" href="https://www.djangoproject.com/">Django</a> as my framework. My code is clean, easy to understand and nicely structured. I got around 3 years of experience as a web developer, but because of my age, I haven't had time to get a job yet, but I am in the looks for one now! Got any questions? <a style="color: unset; text-decoration: underline;" href="/get-in-touch">Ask me anything!</a></p>
                <div class="keywords">
                    <p class="small-paragraph"><br><br>Key words:<li style="margin-top: 3px; color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Problem solver</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Leadership skills</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Funny</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Structured</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Likes pistachio</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Teamworker</li></p>
                </div>
                <div class="socials">
                    <span></span>
                    <i class="fa-brands fa-github"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>                
                </div>
            </div>
            <img src="{% static 'images/other/memoji.png' %}" class="des-img" alt="">
            <div class="bottom-cover">
                <div class="bottom-cover-text" id="bottomCoverText">
                  <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}