{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">
<link rel="stylesheet" href="{% static 'scss/pages/about.css' %}">
<script src="{% static 'js/page.js' %}"></script>

<div class="page">
    <div class="intro" id="pageIntro"></div>
    <div class="content">
        <div class="about-me">
            <img src="{% static 'images/covers/about.png' %}" class="mob-img" alt="">
            <div class="text">
                <h1>About me</h1>
                <p class="small-paragraph mob">Whenever I don't develop websites, I mostly workout and play footbal, but when I do develop websites, I tend to use <a style="color: unset; text-decoration: underline;" href="https://www.djangoproject.com/">Django</a> as my framework. My code is clean, easy to understand and nicely structured<br><br>I got around 3 years of experience as a web developer, but because of my age, I haven't had time to get a job yet, but I am in the looks for one now! Got any questions? <a style="color: unset; text-decoration: underline;" href="/get-in-touch">Ask me anything!</a></p>
                <p class="small-paragraph des">Whenever I don't develop websites, I mostly workout and play footbal, but when I do develop websites, I tend to use <a style="color: unset; text-decoration: underline;" href="https://www.djangoproject.com/">Django</a> as my framework. My code is clean, easy to understand and nicely structured. I got around 3 years of experience as a web developer, but because of my age, I haven't had time to get a job yet, but I am in the looks for one now! Got any questions? <a style="color: unset; text-decoration: underline;" href="/get-in-touch">Ask me anything!</a></p>
                <div class="keywords">
                    <p class="small-paragraph"><br><br>Key words:<li style="margin-top: 3px; color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Problem solver</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Leadership skills</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Funny</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Structured</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Likes pistachio</li><li style="color: rgb(200, 211, 219); font-size: 15px; opacity: 0.8;">Teamworker</li></p>
                </div>
                <div class="socials">
                    <span></span>
                    <i class="fa-brands fa-github"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>                
                </div>
            </div>
            <img src="{% static 'images/other/memoji.png' %}" class="des-img" alt="">
            <div class="bottom-cover">
                <div class="bottom-cover-text" id="bottomCoverText">
                  <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}