{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">
<link rel="stylesheet" href="{% static '/scss/forms/form.css' %}" type="text/css">
<script src="{% static 'js/page.js' %}"></script>

<div class="intro" id="pageIntro"></div>

<div class="contact-us page-for-form">
  <div class="bottom-cover">
    <div class="bottom-cover-text" id="bottomCoverText">
      <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
    </div>
  </div>
  <div class="email">
    <span></span>
    <p class="small-paragraph" onclick="window.location.href='mailto:trohanelb@gmail.com'">trohanelb@gmail.com</p>
  </div>
  <div class="socials">
    <span></span>
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <form id="contactUs" action="" method="POST">
        {% csrf_token %}
        <br>
        <div class="inputs-labels">
           <label for="navn">Name</label>
           <br>
           <input type="text" name="navn" placeholder="Your name" required oninvalid="this.setCustomValidity('Whats your name?')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label for="email">Email</label>
           <br>
           <input type="email" name="email" placeholder="Your email" required oninvalid="this.setCustomValidity('Need this to contact you back')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label for="message">What do you want to tell me?</label>
           <br>
           <textarea name="message" placeholder="What do you want to tell me?" required oninvalid="this.setCustomValidity('Tell me wassup')" oninput="this.setCustomValidity('')"></textarea>
          </div>
        <div class="form-actions">
          <button class="primary" type="submit" name="contact" value="contact">Send email</button>
        </div>
      </form>
   </div>
{% endblock %}