{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">
<link rel="stylesheet" href="{% static 'scss/pages/projects.css' %}">
<script src="{% static 'js/page.js' %}"></script>
<script src="{% static 'js/projects.js' %}"></script>

<div class="page">
    <div class="projects-sec">
        <h1>Projects</h1>
        <p>Discover what I have build</p>
        <div class="projects">
            
            <div class="project">
                <div class="top">
                    <div class="name">Lillehammer Tjenester
                    </div>
                    <div class="date">08.02.23</div>
                </div>
                <div class="bottom">
                    <div class="info">A site where there is a list of services in Lillehammer, filtered into different categories. Complex website, with many functionalities. 
                    </div>
                    <button onclick="window.location.href='https://lillehammertjenester.no/'">See live</button>
                </div>
            </div>

            <div class="project">
                <div class="top">
                    <div class="name">NordicUsv
                        <p class="sub-name">Survey page</p>
                    </div>
                    <div class="date">20.04.23</div>
                </div>
                <div class="bottom">
                    <div class="info">A complex site with a multi-step form where the user draws a route on a map, and the coordinates get saved as an input value.
                        The site has a lot more features.
                        <br>
                        <br>
                        Username: root
                        <br>
                        Password: 123456789
                    </div>
                    <button onclick="window.location.href='https://survey.nordicusv.com/login/?next=/'">See live</button>
                </div>
            </div>

            <div class="project">
                <div class="top">
                    <div class="name">Hyttebrebånd
                    </div>
                    <div class="date">14.01.23</div>
                </div>
                <div class="bottom">
                    <div class="info">A site where users can send in an order for internet services. Simple form and simple design.
                    </div>
                    <button onclick="window.location.href='https://h.bogdantrohanel.dev/'">See live</button>
                </div>
            </div>

            <div class="project">
                <div class="top">
                    <div class="name">Snødriv
                        <p class="sub-name">Sellers page</p>
                    </div>
                    <div class="date">30.06.23</div>
                </div>
                <div class="bottom">
                    <div class="info">A login prottected page for sellers of Snødriv. On the site, the admins type in the sales a seller has that day, and 
                        automatically the sales for that week, month and year gets updated. <br> Site has: My account, Competition page and Hall of Fame page.
                    </div>
                    <button onclick="window.location.href='https://sno.bogdantrohanel.dev/'">See live</button>
                </div>
            </div>

            <div class="project">
                <div class="top">
                    <div class="name">Clothing shop
                    </div>
                    <div class="date">23.08.22</div>
                </div>
                <div class="bottom">
                    <div class="info">A simple and complex clothing store. Has all (even more) functionalities as a Shopify store. 
                        Stripe and Paypal as paying choices. Has my account, and much more. 
                        <br>
                        I recommend checking out the mobile version.
                    </div>
                    <button onclick="window.location.href='https://shop.bogdantrohanel.dev/'">See live</button>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom-cover" id="bottomCover">
        <div class="bottom-cover-text" id="bottomCoverText">
          <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
        </div>
    </div>
</div>

{% endblock %}