{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'scss/pages/page.css' %}">
<link rel="stylesheet" href="{% static 'scss/pages/projects.css' %}">
<script src="{% static 'js/page.js' %}"></script>
<script src="{% static 'js/projects.js' %}"></script>

<div class="page">
    <div class="projects">
        <h1>Projects</h1>
        <p>Discover what I have build</p>
    </div>
    <div class="bottom-cover" id="bottomCover">
        <div class="bottom-cover-text" id="bottomCoverText">
          <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
        </div>
    </div>
</div>

{% endblock %}