* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  box-sizing: border-box;
}

.body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html, body {
  background: radial-gradient(#2e6d9e, #215074, #183B56);
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.width {
  width: 100%;
  max-width: 1150px;
  height: 100%;
}

p.paragraph {
  opacity: 0.8;
  box-sizing: border-box;
  color: #183B56;
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 27px;
  margin-bottom: 0;
  opacity: 0.8;
}
p.small-paragraph {
  opacity: 0.8;
  box-sizing: border-box;
  color: rgb(192, 204, 214);
  display: block;
  font-size: 14px;
  height: auto;
  line-height: 27px;
  margin-bottom: 0;
}
p.heading {
  color: #183B56;
  font-weight: 800;
  text-shadow: 1px 0 #183B56;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 0;
}

button {
  outline: none !important;
  text-align: center !important;
  font-size: 15px !important;
  border-radius: 4px !important;
  height: 51px !important;
  width: 135px !important;
  transition: 0.2s !important;
}
button.primary {
  border: 2px solid #64FFDA !important;
  color: #64FFDA;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}
button.primary:hover {
  background: rgba(55, 109, 150, 0.568627451);
}
button.secondary {
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #14a5df;
  margin-right: 0;
  color: #183B56;
  box-shadow: 4px 4px 8px rgba(20, 166, 223, 0.2196078431);
}
button.secondary:hover {
  transform: scale(1.2);
  background: #139ed4;
  color: #F9F6EE;
}

.load-wrapp {
  float: left;
  width: 100%;
  height: 100vh;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #215074;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000000000000000000000 !important;
  opacity: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
}
.load-wrapp .text {
  margin-block: 40px;
  text-align: center;
}
.load-wrapp .text p {
  font-size: 15px;
  color: #F9F6EE;
  opacity: 0.6;
}
.load-wrapp .text p#joke {
  opacity: 0;
  transition: 0.1s;
  font-size: 16px;
  color: #F9F6EE;
  transform: translateY(25px);
}
.load-wrapp .text p#joke.active {
  opacity: 0.6;
}
.load-wrapp.hidden {
  opacity: 0;
  top: 1110px;
}
.load-wrapp .load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp .load-wrapp:last-child {
  margin-right: 0;
}
.load-wrapp .line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
}
.load-wrapp .load-2 .line:nth-last-child(1) {
  -webkit-animation: loadingB 1.5s 1s infinite;
          animation: loadingB 1.5s 1s infinite;
}
.load-wrapp .load-2 .line:nth-last-child(2) {
  -webkit-animation: loadingB 1.5s 0.5s infinite;
          animation: loadingB 1.5s 0.5s infinite;
}
.load-wrapp .load-2 .line:nth-last-child(3) {
  -webkit-animation: loadingB 1.5s 0s infinite;
          animation: loadingB 1.5s 0s infinite;
}
@-webkit-keyframes loadingB {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}
@keyframes loadingB {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}/*# sourceMappingURL=global.css.map */