* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  box-sizing: border-box;
}

.body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html {
  background: #183B56 !important;
}

html, body {
  background: radial-gradient(#2e6d9e, #215074, #183B56);
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.width {
  width: 100%;
  max-width: 1150px;
  height: 100%;
}

p.paragraph {
  opacity: 0.8;
  box-sizing: border-box;
  color: #183B56;
  display: block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 27px;
  margin-bottom: 0;
  opacity: 0.8;
}
p.small-paragraph {
  opacity: 0.8;
  box-sizing: border-box;
  color: rgb(90, 115, 134);
  display: block;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 27px;
  margin-bottom: 0;
}
p.heading {
  color: #183B56;
  font-weight: 800;
  text-shadow: 1px 0 #183B56;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 0;
}

button {
  outline: none !important;
  text-align: center !important;
  font-size: 15px !important;
  border-radius: 4px !important;
  height: 51px !important;
  width: 135px !important;
  transition: 0.6s !important;
}
button.primary {
  background: #14a5df;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid transparent;
  margin-right: 0;
  color: #F9F6EE;
  box-shadow: 4px 4px 8px rgba(20, 166, 223, 0.4666666667);
}
button.primary:hover {
  transform: scale(1.2);
  background: #139ed4;
}
button.secondary {
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #14a5df;
  margin-right: 0;
  color: #183B56;
  box-shadow: 4px 4px 8px rgba(20, 166, 223, 0.2196078431);
}
button.secondary:hover {
  transform: scale(1.2);
  background: #139ed4;
  color: #F9F6EE;
}

.load-wrapp {
  float: left;
  width: 100%;
  height: 100vh;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #183B56;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000000000000000000000000000;
  opacity: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
  /* =Animate the stuff
  ------------------------ */
}
.load-wrapp.hidden {
  opacity: 0;
  top: 1110px;
}
.load-wrapp .load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp .load-wrapp:last-child {
  margin-right: 0;
}
.load-wrapp .line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: white;
}
.load-wrapp .ring-1 {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  padding: 10px;
  border: 7px dashed rgb(60, 84, 160);
  border-radius: 100%;
}
.load-wrapp .ring-2 {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border: 4px solid rgb(60, 84, 160);
  border-radius: 100%;
}
.load-wrapp .ball-holder {
  position: absolute;
  width: 12px;
  height: 45px;
  left: 17px;
  top: 0px;
}
.load-wrapp .ball {
  position: absolute;
  top: -11px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: rgb(80, 104, 180);
}
.load-wrapp .letter-holder {
  padding: 16px;
}
.load-wrapp .letter {
  float: left;
  font-size: 14px;
  color: #777;
}
.load-wrapp .square {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: rgb(80, 104, 180);
}
.load-wrapp .spinner {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
.load-wrapp .bubble-1,
.load-wrapp .bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgb(80, 104, 180);
}
.load-wrapp .bubble-2 {
  top: auto;
  bottom: 0;
}
.load-wrapp .bar {
  float: left;
  width: 15px;
  height: 6px;
  border-radius: 2px;
  background-color: #4b9cdb;
}
.load-wrapp .load-1 .line:nth-last-child(1) {
  -webkit-animation: loadingA 1.5s 1s infinite;
          animation: loadingA 1.5s 1s infinite;
}
.load-wrapp .load-1 .line:nth-last-child(2) {
  -webkit-animation: loadingA 1.5s 0.5s infinite;
          animation: loadingA 1.5s 0.5s infinite;
}
.load-wrapp .load-1 .line:nth-last-child(3) {
  -webkit-animation: loadingA 1.5s 0s infinite;
          animation: loadingA 1.5s 0s infinite;
}
.load-wrapp .load-2 .line:nth-last-child(1) {
  -webkit-animation: loadingB 1.5s 1s infinite;
          animation: loadingB 1.5s 1s infinite;
}
.load-wrapp .load-2 .line:nth-last-child(2) {
  -webkit-animation: loadingB 1.5s 0.5s infinite;
          animation: loadingB 1.5s 0.5s infinite;
}
.load-wrapp .load-2 .line:nth-last-child(3) {
  -webkit-animation: loadingB 1.5s 0s infinite;
          animation: loadingB 1.5s 0s infinite;
}
.load-wrapp .load-3 .line:nth-last-child(1) {
  -webkit-animation: loadingC 0.6s 0.1s linear infinite;
          animation: loadingC 0.6s 0.1s linear infinite;
}
.load-wrapp .load-3 .line:nth-last-child(2) {
  -webkit-animation: loadingC 0.6s 0.2s linear infinite;
          animation: loadingC 0.6s 0.2s linear infinite;
}
.load-wrapp .load-3 .line:nth-last-child(3) {
  -webkit-animation: loadingC 0.6s 0.3s linear infinite;
          animation: loadingC 0.6s 0.3s linear infinite;
}
.load-wrapp .load-4 .ring-1 {
  -webkit-animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
          animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
.load-wrapp .load-5 .ball-holder {
  -webkit-animation: loadingE 1.3s linear infinite;
          animation: loadingE 1.3s linear infinite;
}
.load-wrapp .load-6 .letter {
  -webkit-animation-name: loadingF;
          animation-name: loadingF;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
          animation-direction: linear;
}
.load-wrapp .l-1 {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}
.load-wrapp .l-2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.load-wrapp .l-3 {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}
.load-wrapp .l-4 {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}
.load-wrapp .l-5 {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}
.load-wrapp .l-6 {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}
.load-wrapp .l-7 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.load-wrapp .l-8 {
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
}
.load-wrapp .l-9 {
  -webkit-animation-delay: 1.44s;
          animation-delay: 1.44s;
}
.load-wrapp .l-10 {
  -webkit-animation-delay: 1.56s;
          animation-delay: 1.56s;
}
.load-wrapp .load-7 .square {
  -webkit-animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
          animation: loadingG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
.load-wrapp .load-8 .line {
  -webkit-animation: loadingH 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
          animation: loadingH 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
.load-wrapp .load-9 .spinner {
  -webkit-animation: loadingI 2s linear infinite;
          animation: loadingI 2s linear infinite;
}
.load-wrapp .load-9 .bubble-1,
.load-wrapp .load-9 .bubble-2 {
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}
.load-wrapp .load-9 .bubble-2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.load-wrapp .load-10 .bar {
  -webkit-animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
          animation: loadingJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}
@-webkit-keyframes loadingA {
  0% {
    height: 15px;
  }
  50% {
    height: 35px;
  }
  100% {
    height: 15px;
  }
}
@keyframes loadingA {
  0% {
    height: 15px;
  }
  50% {
    height: 35px;
  }
  100% {
    height: 15px;
  }
}
@-webkit-keyframes loadingB {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}
@keyframes loadingB {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}
@-webkit-keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingD {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingE {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingE {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadingF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loadingG {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(70px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes loadingG {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(70px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@-webkit-keyframes loadingH {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
    padding: 4px;
  }
  100% {
    width: 15px;
  }
}
@keyframes loadingH {
  0% {
    width: 15px;
  }
  50% {
    width: 35px;
    padding: 4px;
  }
  100% {
    width: 15px;
  }
}
@-webkit-keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@-webkit-keyframes loadingJ {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 0);
    background-color: #f5634a;
    width: 25px;
  }
}
@keyframes loadingJ {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, 0);
    background-color: #f5634a;
    width: 25px;
  }
}

@media only screen and (min-device-width: 1150px) {
  .cursor {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    top: 0;
    left: 0;
    background: #183B56;
    z-index: 100000000000000000000;
    pointer-events: none;
  }
  .cursor.link {
    opacity: 0.4;
    transition: 0.1s ease;
  }
  .cursor-lazy {
    opacity: 0.8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #183B56;
    transform: translate3d(-50%, -50%, 0);
    top: 0;
    left: 0;
    background: transparent;
    transition: 0.1s ease;
    z-index: 100000000000000000000;
    pointer-events: none;
  }
  .cursor-lazy.link {
    width: 30px;
    height: 30px;
    opacity: 0.4;
  }
  .cursor-lazy.click {
    width: 20px;
    height: 20px;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Alata", sans-serif;
    box-sizing: border-box;
  }
  html {
    background-color: #f5634a !important;
  }
  html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0 auto;
  }
}/*# sourceMappingURL=global.css.map */