@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

// standard phone
.cover{
    width: 100%;
    height: max-content;
    .content{
        height: 100%;
        width: 100%;
        padding-inline: 36px;
        .text{
            text-align: left;
            margin-top: 50px;
            .headingp{
                color: #64FFDA;
                font-size: 13px;
                letter-spacing: 1px;
                margin-top: 0;
                margin-bottom: 10px;
                opacity: 0.9;
            }
            .small-paragraph{
                margin-top: 19px;      
                padding-left: 2px;   
                font-size: 15px;       
            }
            h1{
                color: #f9f6eede;
                font-size: 36px;
                margin-top: 0;
                margin-bottom: 13px;
                &.opacity{
                    opacity: 0.6;
                }
            }
        }
        button{
            opacity: 0.8;
            margin-top: 30px;
            width: 160px !important;
        }
    }
    .bottom-cover{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px;
        pointer-events: visible;
        opacity: 0.8;
        z-index: 10000000000000000000000000000;
        .text{
            p{
                span{
                    border-bottom: 1px solid #64ffdb8c;
                    padding-bottom: 5px;
                }
            }
        }
        .icons{
            i{
                margin-inline: 8px;
                padding: 4px;
                color: rgb(171, 186, 197); 
                opacity: 0.8;
                font-size: 20px;
                transition: .4s;
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    color: #64FFDA;
                    transform: scale(1.1);
                }
            }
        }
    }
} 
@media only screen and (min-device-width: 1150px) {
    .cover{
        .width{
            width: 100%;
            max-width: 1150px;
            height: 100%;
            margin: auto;
          }
          .content{
            padding: 0;
          }
          .text{
            margin-top: 100px !important;
          }
    }
}

