@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
.cover {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  transition: 0.2s;
}
.cover .timeline {
  display: none;
}
.cover .content {
  height: 100%;
  width: 100%;
  padding-inline: 36px;
  transition: 0.2s;
}
.cover .content .cover-image {
  position: absolute;
  top: 180px;
  left: 15px;
  opacity: 0.25;
  pointer-events: none;
}
.cover .content .cover-image img {
  width: 170px;
  height: auto;
}
.cover .content .cover-image .line {
  display: none;
}
.cover .content .text {
  text-align: center;
  margin-top: 40px;
  pointer-events: none !important;
}
.cover .content .text .headingp {
  color: #64FFDA;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 15px;
  opacity: 0.9;
}
.cover .content .text .small-paragraph {
  margin-top: 25px;
  padding-left: 2px;
  font-size: 16px;
}
.cover .content .text h1 {
  color: rgba(249, 246, 238, 0.8705882353);
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 9px;
}
.cover .content .text h1.opacity {
  opacity: 0.6;
  font-size: 35px;
  margin-top: 10px;
}
.cover .content .text h1.opacity.mob {
  display: block;
}
.cover .content .text h1.opacity.des {
  display: none;
}
.cover .content .text .icons {
  margin-top: 30px;
}
.cover .content .text .icons i {
  margin-inline: 9px;
  padding: 4px;
  color: rgb(171, 186, 197);
  opacity: 0.8;
  font-size: 21px;
  transition: 0.4s;
}
.cover .content .text .icons i:last-child {
  margin-right: 0;
}
.cover .content .text .icons i:hover {
  color: #64FFDA;
  transform: scale(1.1);
}
.cover .content .text button {
  opacity: 0.8;
  margin-top: 30px;
  width: 180px !important;
  position: relative;
  pointer-events: visible !important;
}
.cover .bottom-cover {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  pointer-events: visible;
  opacity: 0.8;
  z-index: 1000000000;
}
.cover .bottom-cover .bottom-cover-text {
  margin: 0;
  transition: 0.2s;
}
.cover .bottom-cover .bottom-cover-text .bottom-text {
  margin: 0;
  font-size: 12px;
}
.cover .bottom-cover .bottom-cover-text .bottom-text span {
  border-bottom: 1px solid rgba(100, 255, 219, 0.5490196078);
  padding-bottom: 5px;
}

@media only screen and (min-device-width: 1150px) {
  .cover {
    height: 100vh !important;
    width: 100% !important;
  }
  .cover .content {
    padding: 0;
    width: 100% !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: 35px;
  }
  .cover .content .cover-image {
    position: relative;
    top: 70px;
    right: 30px;
    left: unset;
    opacity: unset;
    cursor: pointer;
  }
  .cover .content .cover-image img {
    pointer-events: visible;
    width: 200px;
    max-width: 200px;
    height: auto;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.5s;
  }
  .cover .content .cover-image img:hover {
    transform: scale(1.08);
  }
  .cover .content .cover-image .line {
    position: absolute;
    right: -92%;
    top: 265px;
    width: 400px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    display: none;
  }
  .cover .content .cover-image .line span {
    height: 2px;
    width: 40px;
    border-radius: 10px;
    display: block;
    background: #F9F6EE;
    transform: translateY(-7px);
  }
  .cover .content .cover-image .line p {
    font-size: 14px;
    color: #F9F6EE;
    margin-left: 15px;
  }
  .cover .content .flower-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 600px;
    height: 350px;
    background: rgba(255, 255, 255, 0.279);
  }
  .cover .content .text {
    text-align: left;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    top: 50px;
    margin: 0;
    padding-right: 110px;
  }
  .cover .content .text h1 {
    font-size: 44px;
  }
  .cover .content .text h1.opacity {
    font-size: 43px;
  }
  .cover .content .text h1.opacity.mob {
    display: none;
  }
  .cover .content .text h1.opacity.des {
    display: block;
  }
  .cover .content .text .headingp {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .cover .content .text .small-paragraph {
    font-size: 18px;
    width: 460px;
    margin-top: 25px;
  }
  .cover .content .text .icons {
    margin-top: 25px;
    cursor: default;
  }
  .cover .content .text .icons i {
    margin-inline: 9px;
    padding: 4px;
    color: rgb(171, 186, 197);
    opacity: 0.8;
    font-size: 22px;
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    pointer-events: visible;
    z-index: 1000000;
  }
  .cover .content .text .icons i:last-child {
    margin-right: 0;
  }
  .cover .content .text .icons i:first-child {
    margin-left: 0;
  }
  .cover .content .text .icons i:hover {
    color: #64FFDA;
    transform: scale(1.1);
  }
  .cover .content .text button {
    width: 170px !important;
    height: 55px !important;
    left: unset;
    transform: translateX(0) translateY(10px);
  }
  .cover .content .text .bottom-cover {
    display: none;
  }
  .cover .content .timeline {
    display: block;
    position: relative;
    left: 0;
    top: 50px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll !important;
    padding-bottom: 180px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
  }
  .cover .content .timeline .firstp {
    font-size: 16px;
    color: #64FFDA;
    opacity: 0.8;
  }
  .cover .content .timeline::-webkit-scrollbar {
    display: none;
  }
  .cover .content .timeline .time {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    opacity: 0.5;
    margin-block: 50px;
  }
  .cover .content .timeline .time:first-child {
    margin-top: 0;
  }
  .cover .content .timeline .time:last-child {
    margin-bottom: 0;
  }
  .cover .content .timeline .time span {
    width: 2px;
    border-radius: 10px;
    display: block;
    background: #F9F6EE;
    transform: translateY(2px);
  }
  .cover .content .timeline .time p {
    font-size: 14px;
    color: #F9F6EE;
  }
  .cover .content .timeline .time p:first-child {
    margin-right: 20px;
    font-size: 12px;
  }
  .cover .content .timeline .time p:last-child {
    margin-left: 20px;
  }
}
@media only screen and (min-device-width: 1450px) {
  .cover {
    height: 100vh !important;
  }
  .cover .content {
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: 75px;
  }
  .cover .content .cover-image {
    position: relative;
    top: 100px;
    right: 110px;
    left: unset;
    opacity: unset;
  }
  .cover .content .cover-image img {
    width: 240px;
    max-width: 240px;
    height: auto;
    opacity: 0.7;
    transition: 0.5s;
  }
  .cover .content .cover-image img:hover {
    transform: scale(1.08);
  }
  .cover .content .cover-image .line {
    position: absolute;
    right: -95%;
    top: 285px;
    width: 400px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    display: flex;
  }
  .cover .content .cover-image .line span {
    height: 2px;
    width: 40px;
    border-radius: 10px;
    display: block;
    background: #F9F6EE;
    transform: translateY(-7px);
  }
  .cover .content .cover-image .line p {
    font-size: 14px;
    color: #F9F6EE;
    margin-left: 15px;
  }
  .cover .content .text {
    text-align: left;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
    top: 80px;
    margin: 0;
    padding-right: 240px;
  }
  .cover .content .text h1 {
    font-size: 50px;
  }
  .cover .content .text h1.opacity {
    font-size: 50px;
  }
  .cover .content .text h1.opacity.mob {
    display: none;
  }
  .cover .content .text h1.opacity.des {
    display: block;
  }
  .cover .content .text .headingp {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .cover .content .text .small-paragraph {
    font-size: 18px;
    width: 460px;
    margin-top: 25px;
  }
  .cover .content .text .icons {
    margin-top: 25px;
  }
  .cover .content .text .icons i {
    margin-inline: 9px;
    padding: 4px;
    color: rgb(171, 186, 197);
    opacity: 0.8;
    font-size: 23px;
    transition: 0.4s;
    cursor: pointer;
  }
  .cover .content .text .icons i:last-child {
    margin-right: 0;
  }
  .cover .content .text .icons i:first-child {
    margin-left: 0;
  }
  .cover .content .text .icons i:hover {
    color: #64FFDA;
    transform: scale(1.1);
  }
  .cover .content .text button {
    width: 170px !important;
    height: 55px !important;
    left: unset;
    transform: translateX(0) translateY(10px);
  }
  .cover .content .text .bottom-cover {
    display: none;
  }
  .cover .content .timeline {
    display: block;
    position: relative;
    left: 0;
    top: 80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll !important;
    padding-bottom: 200px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
  }
  .cover .content .timeline::-webkit-scrollbar {
    display: none;
  }
  .cover .content .timeline .firstp {
    font-size: 16px;
    color: #64FFDA;
    opacity: 0.8;
  }
  .cover .content .timeline .time {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    opacity: 0.5;
    margin-block: 50px;
  }
  .cover .content .timeline .time:first-child {
    margin-top: 0;
  }
  .cover .content .timeline .time:last-child {
    margin-bottom: 0;
  }
  .cover .content .timeline .time span {
    width: 2px;
    border-radius: 10px;
    display: block;
    background: #F9F6EE;
    transform: translateY(2px);
  }
  .cover .content .timeline .time p {
    font-size: 14px;
    color: #F9F6EE;
  }
  .cover .content .timeline .time p:first-child {
    margin-right: 20px;
    font-size: 12px;
  }
  .cover .content .timeline .time p:last-child {
    margin-left: 20px;
  }
}
@media only screen and (min-device-width: 1590px) {
  .cover {
    height: 100vh !important;
  }
  .cover .content {
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: 155px;
  }
}/*# sourceMappingURL=base.css.map */