@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

// standard phone
.cover{
    width: 100%;
    height: max-content;
    transition: .2s;
    .timeline{
        display: none;
    }
    .content{
        height: 100%;
        width: 100%;
        padding-inline: 36px;
        transition: .2s;
        .cover-image{
            position: absolute;
            top: 180px;
            left: 15px;
            opacity: 0.25;
            pointer-events: none;
            img{
                width: 170px;
                height: auto;
            }
            .line{
                display: none;
            }
        }
        .text{
            text-align: center;
            margin-top: 40px;
            pointer-events: none !important;
            .headingp{
                color: #64FFDA;
                font-size: 14px;
                letter-spacing: 1px;
                margin-top: 0;
                margin-bottom: 15px;
                opacity: 0.9;
            }
            .small-paragraph{
                margin-top: 25px;      
                padding-left: 2px;   
                font-size: 16px;       
            }
            h1{
                color: #f9f6eede;
                font-size: 36px;
                margin-top: 0;
                margin-bottom: 9px;
                &.opacity{
                    opacity: 0.6;
                    font-size: 35px;
                    margin-top: 10px;
                    &.mob{
                        display: block;
                    }
                    &.des{
                        display: none;
                    }
                }
            }
            .icons{
                margin-top: 30px;
                i{
                    margin-inline: 9px;
                    padding: 4px;
                    color: rgb(171, 186, 197); 
                    opacity: 0.8;
                    font-size: 21px;
                    transition: .4s;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        color: #64FFDA;
                        transform: scale(1.1);
                    }
                }
            }
            button{
                opacity: 0.8;
                margin-top: 30px;
                width: 180px !important;
                position: relative;
                pointer-events: visible !important;
            }
        }
    }
    .bottom-cover{
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        pointer-events: visible;
        opacity: 0.8;
        z-index: 1000000000;
        .bottom-cover-text{
            margin: 0;
            transition: .2s;
            .bottom-text{
                margin: 0;
                font-size: 12px;
                span{
                    border-bottom: 1px solid #64ffdb8c;
                    padding-bottom: 5px;
                }
            }
        }
    }
} 
@media only screen and (min-device-width: 1150px) {
    .cover{
        height: 100vh !important;
        width: 100% !important;
          .content{
            padding: 0;
            width: 100% !important;
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-inline: 35px;
            .cover-image{
                position: relative;
                top: 70px;
                right: 30px;
                left: unset;
                opacity: unset;
                cursor: pointer;
                img{
                    pointer-events: visible;
                    width: 200px;
                    max-width: 200px;
                    height: auto;
                    opacity: 0.7;
                    cursor: pointer;
                    transition: .5s;
                    &:hover{
                        transform: scale(1.08);
                    }
                }
                .line{
                    position: absolute;
                    right: -92%;
                    top: 265px;
                    width: 400px;
                    height: max-content;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.3;
                    display: none;
                    span{
                        height: 2px;
                        width: 40px;
                        border-radius: 10px;
                        display: block;
                        background: #F9F6EE;
                        transform: translateY(-7px);
                    }
                    p{
                        font-size: 14px;
                        color: #F9F6EE;
                        margin-left: 15px;
                    }
                }
            }
            .flower-popup{
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 600px;
                height: 350px;
                background: rgba(255, 255, 255, 0.279);
            }
            .text{
              text-align: left;
              width: max-content;
              height: max-content;
              position: relative;
              top: 50px;
              margin: 0;
              padding-right: 110px;
              h1{
                font-size: 44px;
                &.opacity{
                    font-size: 43px;
                    &.mob{
                        display: none;
                    }
                    &.des{
                        display: block;
                    }
                }
              }
              .headingp{
                font-size: 16px;
                margin-bottom: 18px;
              }
              .small-paragraph{
                font-size: 18px;
                width: 460px;
                margin-top: 25px;
              }
              .icons{
                margin-top: 25px;
                cursor: default;
                i{
                    margin-inline: 9px;
                    padding: 4px;
                    color: rgb(171, 186, 197); 
                    opacity: 0.8;
                    font-size: 22px;
                    transition: .4s;
                    cursor: pointer;
                    position: relative;
                    pointer-events: visible;
                    z-index: 1000000;
                    &:last-child{
                        margin-right: 0;
                    }    
                    &:first-child{
                        margin-left: 0;
                    }
                    &:hover{
                        color: #64FFDA;
                        transform: scale(1.1);
                    }
                }
            }
              button{
                  width: 170px !important;
                  height: 55px !important;
                  left: unset;
                  transform: translateX(0) translateY(10px);
              }
            .bottom-cover{
                display: none;
            }
            }
            .timeline{
                display: block;
                position: relative;
                left: 0;
                top: 50px;
                width: max-content;
                height: 100%;
                overflow: hidden;
                overflow-y: scroll !important;
                padding-bottom: 180px;
                -ms-overflow-style: none;  
                scrollbar-width: none;  
                margin: 0;
                .firstp{
                    font-size: 16px;
                    color: #64FFDA;
                    opacity: .8;
                }
                &::-webkit-scrollbar{
                    display: none; 
                }
                .time{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    opacity: 0.5;
                    margin-block: 50px;
                    &:first-child{
                        margin-top: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                    span{
                        width: 2px;
                        border-radius: 10px;
                        display: block;
                        background: #F9F6EE;
                        transform: translateY(2px);
                    }
                    p{
                        font-size: 14px;
                        color: #F9F6EE;
                        &:first-child{
                            margin-right: 20px;
                            font-size: 12px;
                        }
                        &:last-child{
                            margin-left: 20px;
                        }
                    }
                }
            }
          }
    }
}

@media only screen and (min-device-width: 1450px) {
    .cover{
        height: 100vh !important;
          .content{
            padding: 0;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-inline: 75px;
            .cover-image{
                position: relative;
                top: 100px;
                right: 110px;
                left: unset;
                opacity: unset;
                img{
                    width: 240px;
                    max-width: 240px;
                    height: auto;
                    opacity: 0.7;
                    transition: .5s;
                    &:hover{
                        transform: scale(1.08);
                    }
                }
                .line{
                    position: absolute;
                    right: -95%;
                    top: 285px;
                    width: 400px;
                    height: max-content;
                    pointer-events: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0.3;
                    display: flex;
                    span{
                        height: 2px;
                        width: 40px;
                        border-radius: 10px;
                        display: block;
                        background: #F9F6EE;
                        transform: translateY(-7px);
                    }
                    p{
                        font-size: 14px;
                        color: #F9F6EE;
                        margin-left: 15px;
                    }
                }
            }
            .text{
              text-align: left;
              width: max-content;
              height: max-content;
              position: relative;
              top: 80px;
              margin: 0;
              padding-right: 240px;
              h1{
                font-size: 50px;
                &.opacity{
                    font-size: 50px;
                    &.mob{
                        display: none;
                    }
                    &.des{
                        display: block;
                    }
                }
              }
              .headingp{
                font-size: 16px;
                margin-bottom: 18px;
              }
              .small-paragraph{
                font-size: 18px;
                width: 460px;
                margin-top: 25px;
              }
              .icons{
                margin-top: 25px;
                i{
                    margin-inline: 9px;
                    padding: 4px;
                    color: rgb(171, 186, 197); 
                    opacity: 0.8;
                    font-size: 23px;
                    transition: .4s;
                    cursor: pointer;
                    &:last-child{
                        margin-right: 0;
                    }    
                    &:first-child{
                        margin-left: 0;
                    }
                    &:hover{
                        color: #64FFDA;
                        transform: scale(1.1);
                    }
                }
            }
              button{
                  width: 170px !important;
                  height: 55px !important;
                  left: unset;
                  transform: translateX(0) translateY(10px);
              }
            .bottom-cover{
                display: none;
            }
            }
            .timeline{
                display: block;
                position: relative;
                left: 0;
                top: 80px;
                width: max-content;
                height: 100%;
                overflow: hidden;
                overflow-y: scroll !important;
                padding-bottom: 200px;
                -ms-overflow-style: none;  
                scrollbar-width: none;  
                margin: 0;
                &::-webkit-scrollbar{
                    display: none; 
                }
                .firstp{
                    font-size: 16px;
                    color: #64FFDA;
                    opacity: 0.8;
                }
                .time{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    opacity: 0.5;
                    margin-block: 50px;
                    &:first-child{
                        margin-top: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                    span{
                        width: 2px;
                        border-radius: 10px;
                        display: block;
                        background: #F9F6EE;
                        transform: translateY(2px);
                    }
                    p{
                        font-size: 14px;
                        color: #F9F6EE;
                        &:first-child{
                            margin-right: 20px;
                            font-size: 12px;
                        }
                        &:last-child{
                            margin-left: 20px;
                        }
                    }
                }
            }
          }
    }
}

@media only screen and (min-device-width: 1590px) {
    .cover{
        height: 100vh !important;
          .content{
            padding: 0;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-inline: 155px;
          }
    }
}