@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// standard phone
#desNav{
    display: none;
}
#mobileNav{
    width: 100%;
    max-width: 1150px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    position: relative;
    top: 0;
    z-index: 10000;
    transition: .2s;
    background: transparent;
    .logo{
        z-index: 1000;
        position: relative;
        left: -35px;
        img{
            width: 110px;
            height: auto;
        }
    }
    .hamburger{
        transform: translateY(1px) rotate(180deg);
        padding: 8px;
        margin: -8px;
        z-index: 1000;
        p{
            position: absolute;
            font-size: 10px;
            color: #64FFDA;
            right: 40px;
            top: 20px;
            opacity: 0;
            pointer-events: none;
            transition: 0s;
        }
        &.click1{
            transform: translateX(0) translateY(2px);
            span{
                animation: animation1 .5s;
                transform: scale(1.15);
            }
            .top-span{
                width: 27px;
            }
            .center-span{
                width: 27px;
            }
            .bottom-span{
                width: 27px;
            }
            @keyframes animation1{
                0%{
                    transform: rotate(0deg);
                }
                25%{
                    transform: rotate(180deg);
                }
                50%{
                    transform: rotate(480deg);
                }
                75%{
                    transform: rotate(180deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
        }
        &.click2{
            p{
                transition: .9s;
                opacity: 1;
            }
            .top-span{
                transform: rotate(-45deg) translateX(-4px) translateY(10px);
            }
            .center-span{
                opacity: 0;
            }
            .bottom-span{
                transform: rotate(45deg) translateX(-5px) translateY(-12px);
            }
        }
        &.close-txt{
            p{
                opacity: 0;
                transition: 0s;
            }
        }
        span{
            transition: .2s;
            height: 2px;
            background: #64FFDA;
            border-radius: 8px;
            display: block;
            margin-block: 9px;
            transform: translateX(0) rotate(0) scale(1);
            text-align: center;
            transform-origin: center center;   
            &.top-span{
                width: 27px;
            }
            &.center-span{
                width: 22px;
            }
            &.bottom-span{
                width: 17px;
            } 
        }
    }
    .sidebar{
        background: #215074;
        position: absolute;
        top: -15px;
        right: -100%;
        width: 100%;
        height: 100vh;
        z-index: 120;
        opacity: 0;
        pointer-events: none;
        display: unset;
        transition: .2s;
        .sidebar-ul{
            position: relative;
            width: 100%;
            text-align: unset;
            left: 50%;
            transform: translateY(145px) translateX(-50%);
            height: max-content;
            pointer-events: visible;
            li{
                list-style: none;
                width: 100%;
                text-align: center;
                position: relative;
                height: 100%;
                a{
                    transform: translateY(0);
                    color: #ffffff;
                    display: block;
                    text-decoration: none;
                    width: auto;
                    font-size: 18px;
                    padding: 8px;
                    position: relative;
                    transition: .8s;
                    opacity: 0.8;
                    margin-block: 18px; 
                    width: 220px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-bottom: 1px solid transparent !important;
                    &:hover{
                        border-bottom: 1px solid #f9f6ee4b !important;
                    }
                    &:last-child{
                        border: 2px solid #64FFDA !important;
                        color: #64FFDA;
                        background: transparent;
                        padding: 10px;
                        border-radius: 4px;
                        margin-top: 15px;
                        font-size: 17px;
                        &:hover{
                            background: #376d9691;
                        }
                    }
                    .top{
                        position: absolute;
                        left: 0;
                        top: -40px;
                        color: #64FFDA;
                        font-size: 13px;
                        font-family: 'Source Code Pro', monospace;
                        opacity: 0.6;
                    }
                    .bottom{
                        position: absolute;
                        left: -15px;
                        bottom: -83px;
                        color: #64FFDA;
                        font-size: 13px;
                        font-family: 'Source Code Pro', monospace;
                        opacity: 0.6;
                    }
                }
            }
        }
        &.active{
            opacity: 1;
            transition: .5s;
            right: 0px;
        }
    }  
}
@media only screen and (min-device-width: 1150px) {
    #mobileNav{
        display: none;
    }
    #desNav{
        width: 100%;
        height: 85px;
        position: relative;
        top: 0;
        z-index: 10000000000000000000;
        transition: .2s;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 35px;
        .logo{
            z-index: 1000;
            position: relative;
            left: -38px;
            top: 3px;
            img{
                cursor: pointer;
                transition: .3s;
                width: 120px;
                height: auto;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .menu{
            width: max-content;
            padding-inline: 10px;
            a{
                color: #f9f6eeb4;
                font-size: 16px;
                padding-inline: 7px;
                padding-block: 26px;
                margin-inline: 16px;
                cursor: pointer;
                text-decoration: none;
                padding-bottom: 6px;
                transition: .2s;
                border-bottom: 2px solid transparent;
                i{
                    transform: translateX(0) translateY(2px);
                    font-size: 16px;
                    transition: .2s !important;
                    padding-left: 10px;
                }
                &:last-child{
                    border: 2px solid #64FFDA !important;
                    color: #64FFDA;
                    background: transparent;
                    padding: 11px 16px;
                    border-radius: 4px;
                    margin-top: 10px;
                    opacity: 0.9;
                    font-size: 15px;
                    margin-right: -7px;
                    &:hover{
                        background: #376d9691;
                    }
                }
                &:hover{
                    border-bottom: 2px solid #64FFDA;
                }
                &:active{
                    border-bottom: 2px solid transparent;
                }
            }
        }
    }
}
