{% load static %}

<link rel="stylesheet" href="{% static '/scss/footer.css' %}" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">

<!-- footer -->
<div id="footer">
    <hr style="border: 1px solid #a34ae2;">
    <!-- footer bottom -->
    <div class="footerbottom">
         <!-- copyright -->
        <div class="copyright">
            <p>&#169; Bogdan Trohanel</p>
        </div>
        <!-- social icons -->
        <div class="social-icons">
            <!-- icons -->
            <div class="icons">
                <i onclick="window.location.href='https://www.instagram.com/webiser.no/'" class="fab fa-instagram"></i>
                <i onclick="window.location.href='https://www.instagram.com/webiser.no/'" class="fab fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>
