{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>


<!-- <div class="load-wrapp" id="loader">
  <div class="load-2">
      <div class="text">
          <p>Loading all elements</p>
          <br>
          <p>10 hours left . . .</p>
          <p id="joke">just kidding&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:)</p>
      </div>
  </div>
</div> -->

<!-- Cover -->
<div class="cover" id="cover">
  <!-- Content -->
  <div class="content">
    <!-- Timeline -->
    <div class="timeline">
      <p class="firstp">Feel free to scroll the timeline</p>
      <div class="time">
        <p>2019</p>
        <span style="height: 75px;"></span>
        <p>
        Started my coding career<br><br>
        Learned basic Html.
        </p>
      </div>
      <div class="time">
        <p>2019</p>
        <span style="height: 60px;"></span>
        <p>
          Made my first website<br>
          using basic Html and Css
        </p>
      </div>
      <div class="time">
        <p>2019</p>
        <span style="height: 130px;"></span>
        <p>
          Started working on StellCare <br><br>
          It was a eCommerce website <br>
          build using Vue and Django <br><br>
          Worked on it for a long time
        </p>
      </div>
      <div class="time">
        <p>2021</p>
        <span style="height: 170px;"></span>
        <p>
          Fast forward to 2021 <br><br>
          I got my first real project<br>
          It was a website where<br>
          the user could order <br>
          food from local stores<br><br>
          Build using Django
        </p>
      </div>
      <div class="time">
        <p>2021</p>
        <span style="height: 170px;"></span>
        <p>
          After a couple more weeks<br>
          I got a new project<br><br>
          The project was a<br>
          web design and digital products<br>
          website<br><br>
          Build using Django
        </p>
      </div>
      <div class="time">
        <p>2022</p>
        <span style="height: 160px;"></span>
        <p>
          Jumped on a new project<br>
          This time I wanted to make an<br>
          android app for<br>
          my previous project, StellCare<br><br>
          The experience was nice<br>
          and I learned a lot
        </p>
      </div>
      <div class="time">
        <p>2022</p>
        <span style="height: 130px;"></span>
        <p>
          I wanted to make an portfolio<br>
          so I could showcase my work<br><br>
          This version you see is the 7th version<br><br>
          Not even kidding
        </p>
      </div>
      <div class="time">
        <p>2022</p>
        <span style="height: 210px;"></span>
        <p>
        I got a new project<br>
        It was a website called NordicUSV<br><br>
        The user had to draw a route<br>
        on a map, and the coordinates<br>
        had to be sent to the backend<br><br>
        The user also had to get full info<br>
        about the route he created<br>
        Read more here <a href="">NordicUSV</a>
        </p>
      </div>
      <div class="time">
        <p>2023</p>
        <span style="height: 130px;"></span>
        <p>
        I got another project<br>
        This time the user had to<br>
        send in a form<br><br>
        The form should then be saved<br>
        to the backend, and in admin page 
        </p>
      </div>
    </div>
    <!-- Cover text -->
    <div class="text">
      <p class="headingp">Hey, my name is</p>
      <h1>Bogdan Trohanel</h1>
      <h1 class="opacity mob">Full-stack dev</h1>
      <h1 class="opacity des">Junior full-stack dev</h1>
      <p class="small-paragraph">A 17 years old self-taught with 3 years experience that builds 100% complete websites, or just small projects</p>
       <!-- Social media icons -->
        <div class="icons">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      <button class="primary" onclick="window.location.href='/about-me'">About me</button>
      <!-- Bottom Cover inside cover text -->
      <div class="bottom-cover">
        <div class="bottom-cover-text" id="bottomCoverText">
          <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
        </div>
      </div>
    </div>
    <!-- Cover image --- Flower -->
    <div class="cover-image">
      <img src="{% static 'images/covers/cover.png' %}" alt="" class="cover-image" title="Click if you want">
      <div class="line">
        <span></span>
        <p>Here's a flower for you</p>
      </div>
    </div>
    <!-- <div class="flower-popup">
      
    </div> -->
  </div>
</div>
{% endblock %}