{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/forms/form.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>

{% include 'core/nav.html' %}

<div class="load-wrapp" id="loader">
  <div class="load-2">
      <div class="text">
          <p>Loading all elements</p>
          <br>
          <p>10 hours left . . .</p>
          <p id="joke">just kidding&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:)</p>
      </div>
  </div>
</div>

<!-- Cover -->
<div class="cover" id="cover">
  <!-- Content -->
  <div class="content">
    <!-- Timeline -->
    <div class="timeline">
      <p class="firstp">Feel free to scroll the timeline</p>
      <div class="time">
        <p>2019</p>
        <span style="height: 100px;"></span>
        <p>
          Started to learn Html <br><br>
          I watched hours <br>
          of youtube tutorials
        </p>
      </div>
      <div class="time">
        <p>2019</p>
        <span style="height: 60px;"></span>
        <p>
          Made my first website<br>
          using Html and Css
        </p>
      </div>
      <div class="time">
        <p>2019</p>
        <span style="height: 170px;"></span>
        <p>
          Started working on StellCare <br><br>
          It was a eCommerce website <br>
          made using Vue and Django <br><br>
          Worked on it for a long time, <br>
          it was going to be <br>
          my own online store
        </p>
      </div>
      <div class="time">
        <p>2021</p>
        <span style="height: 170px;"></span>
        <p>
          Fast forward to 2021 <br><br>
          By now I made a lot of websites <br>
          using Django. It started to <br>
          be my favorite framework <br><br>
          Online stores was something <br>
          I got good at developing. <br><br>
        </p>
      </div>
      <div class="time">
        <p>2021</p>
        <span style="height: 195px;"></span>
        <p>
          At this point I had school <br>
          that I had to prioritize, so <br>
          I didn't have much time <br>
          to code websites. <br><br>
          I started on a new project though, <br>
          called Webiser. <br><br>
          Webiser is a agency.
        </p>
      </div>
      <div class="time">
        <p>2022</p>
        <span style="height: 250px;"></span>
        <p>
          My 2022 goals were to <br>
          "upgrade" my developer skills. <br><br>
          I started to look into React, Vue, <br>
          Mysql and also get better <br> 
          with Django. <br><br>
          I also started to look into <br>
          VPS'es, mostly Linux / Ubuntu, <br>
          since I wanted to <br>
          deploy some websites.
        </p>
      </div>
      <div class="time">
        <p>2022</p>
        <span style="height: 200px;"></span>
        <p>
          Right now I feel comfortable with <br>
          my web developer skills. <br><br>
          I mastered Css, Html, <br> 
          JavaScript and Django. <br>
          Right now I want to find a job, <br>
          but also learn React. I see <br>
          React is a very <br> 
          popular JavaScript library <br>
        </p>
      </div>
      <div class="time">
        <p>2022</p>
        <span style="height: 130px;"></span>
        <p>
          Now it was time to make <br>
          my portfolio, and showcase <br>
          my skills. I made this <br>
          website with Django for the backend, <br>
          But I ended up <br>
          using a lot of JavaScript.
        </p>
      </div>
    </div>
    <!-- Cover text -->
    <div class="text">
      <p class="headingp">Hey, my name is</p>
      <h1>Bogdan Trohanel</h1>
      <h1 class="opacity mob">Full-stack dev</h1>
      <h1 class="opacity des">Full-stack developer</h1>
      <p class="small-paragraph">A 17 years old self-taught with 3 years experience that builds 100% complete websites, or just small projects</p>
       <!-- Social media icons -->
        <div class="icons">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      <button class="primary">About me</button>
      <!-- Bottom Cover inside cover text -->
      <div class="bottom-cover">
        <div class="bottom-cover-text" id="bottomCoverText">
          <p class="small-paragraph bottom-text">The simpler, <span>the better.</span></p>
        </div>
      </div>
    </div>
    <!-- Cover image --- Flower -->
    <div class="cover-image">
      <img src="{% static 'images/covers/cover.png' %}" alt="" class="cover-image" title="Click if you want">
      <div class="line">
        <span></span>
        <p>Here's a flower for you</p>
      </div>
    </div>
    <div class="flower-popup">
      
    </div>
  </div>
</div>
{% endblock %}
<div class="contact-us page-for-form" id="contactForm" style="opacity: 0; transform: translateX(-200px); padding-top: 100px; margin-top: -100px;">
    <img src="{% static 'images/other/purple-sky.jpg' %}" alt="" class="contact-us-img">
    <form id="contactUs" action="" method="POST">
       <h1 class="heading">Let's get started!</h1>
        {% csrf_token %}
        <br>
        <div class="inputs-labels">
           <label for="navn">Name</label>
           <br>
           <input type="text" name="navn" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn navn')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label for="email">Email</label>
           <br>
           <input type="email" name="email" required oninvalid="this.setCustomValidity('Værsåsnill, skirv inn epost')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label for="message">Got anything to tell me?</label>
           <br>
           <textarea name="message" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn beskjed')" oninput="this.setCustomValidity('')"></textarea>
          </div>
        <div class="form-actions">
          <button type="submit" name="contact" value="contact" class="primary">Send email</button>
        </div>
      </form>
   </div>