{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/scss/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/global/global.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/scss/forms/form.css' %}" type="text/css">
<script rel="stylesheet" src="{% static '/js/home.js' %}" type="text/javascript"></script>



<div class="cover" id="cover">
  <div class="width">
    <div class="content">
      <div class="cover-image">
        <img src="{% static 'images/covers/cover.png' %}" alt="" class="cover-image">
        <div class="line">
          <span></span>
          <p>Here's a flower for you</p>
        </div>
      </div>
      <div class="text">
        <p class="headingp">Hey, my name is</p>
        <h1>Bogdan Trohanel</h1>
        <h1 class="opacity mob">Full-stack dev</h1>
        <h1 class="opacity des">Full-stack developer</h1>
        <p class="small-paragraph">A 17 years old self-taught with 3 years experience that builds 100% complete websites, or just small projects.<br>I like dogs btw</p>
      </div>
      <button class="primary">About me</button>
    </div>
    <div class="timeline">
      <div class="time1">
        <span></span>
        <p>text</p>
      </div>
    </div>
    <div class="bottom-cover">
      <div class="text">
        <p class="small-paragraph">The simpler, <span>the better.</span></p>
      </div>
      <div class="icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<div class="contact-us page-for-form" id="contactForm" style="opacity: 0; transform: translateX(-200px); padding-top: 100px; margin-top: -100px;">
    <img src="{% static 'images/other/purple-sky.jpg' %}" alt="" class="contact-us-img">
    <form id="contactUs" action="" method="POST">
       <h1 class="heading">Let's get started!</h1>
        {% csrf_token %}
        <br>
        <div class="inputs-labels">
           <label for="navn">Name</label>
           <br>
           <input type="text" name="navn" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn navn')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label for="email">Email</label>
           <br>
           <input type="email" name="email" required oninvalid="this.setCustomValidity('Værsåsnill, skirv inn epost')" oninput="this.setCustomValidity('')">
           <br>
           <br>
           <label for="message">Got anything to tell me?</label>
           <br>
           <textarea name="message" required oninvalid="this.setCustomValidity('Værsåsnill, skriv inn beskjed')" oninput="this.setCustomValidity('')"></textarea>
          </div>
        <div class="form-actions">
          <button type="submit" name="contact" value="contact" class="primary">Send email</button>
        </div>
      </form>
   </div>